{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}

<h4 class="movie-title">{{ data.title}}</h4>

<div class="poster-container">
    <div>
        {% if data.poster_path %}
            <img src="https://image.tmdb.org/t/p/w342{{data.poster_path}}" alt="{{data.title}}">
            {% else %}
            <img src="/images/default.png" alt="{{result.name}}" width=220>
            {% endif %}

    </div>
    <div>
        {% if video %}
            <div class="trailer-container">
                <div class="video-cover"></div>
                <iframe width="720" height="450" src="http://www.youtube.com/embed/{{video.key}}?modestbranding=1&rel=0&showinfo=0&loop=1&autoplay=1&mute=1" frameborder="0" allowfullscreen></iframe>
            </div>
        {% endif %}
            

        {% if user.is_authenticated %}
            {% if not is_favorited %}
                <div class="seen-container">
                    <a href="{% url 'add_favorites' movie_id=data.id %}" class="mark-seen">🤍 <span style="margin-left: 5px;">Mark as Seen</span></a>
                </div>
            {% else %}
                <div class="seen-container">
                    <a href="{% url 'remove_favorites' movie_id=data.id %}" class="seen">🧡 <span style="margin-left: 5px;">Seen</span></a>
                </div>
            {% endif %}
        {% endif %}

        {% if user.is_authenticated %}
            {% if not in_watchlist %}
                <div class="watchlist-container">
                    <a href="/watchlist/{{data.id}}/" class="watchlist">➕ Add to Watchlist</a>
                </div>
            {% else %}
                <div class="watchlist-container">
                    <a href="/watchlist/remove/{{data.id}}/" class="watchlist">✔️ Added to Watchlist</a>
                </div>
            {% endif %}
        
        
            <div class="review-container">
                <a href="{% url 'post_review' tmdb_id=data.id %}" class="review-text">✏️ <span style="margin-left: 5px;">Post a Review</span></a>
            </div>
        {% endif %}
    </div>
</div>

<div class="ratings-container">
    {% if data.vote_average %}
        <span>⭐️ <span class="rating-indent">{{ data.vote_average }}</span></span>
    {% endif %}

    {% if rotten_tomatoes %}
        <img src="{% static 'images/rotten_tomatoes.png' %}" width=20 class="rating-item rotten_tomatoes"> <span class="rating-indent">{{rotten_tomatoes}}</span>
    {% endif %}
    {% if omdb.Rated %}
    <span class="rating-item rated" style="border: 1px solid #ffffff; padding: 5px;">{{ omdb.Rated }}</span>
    {% endif %}
    {% if data.runtime %}
        <span class="rating-item runtime">{{ data.runtime }} minutes</span>
    {% endif %}
</div>

<br>
<br>
<div class="overview-container">
    {% if data.overview %}
        <h6 class="summary">{{ data.overview }}</h6>
    {% endif %}

    {% if actors %}
        <h6 class="summary cast">Cast: 
            {% for actor in actors %}
                <span><a href="{% url 'actor_link' actor_name=actor %}">{{actor}}</a></span>
            {% endfor %}
        </h6>
    {% endif %}
</div>

{% if recommendations %}
    <div class="carousel-container">
        <h5 class="list-title more">More Like This</h5>
        <div class="carousel">
            <ul>
                {% for recommendation in recommendations.results %}
                    <div class="carousel-item">
                        <a href="{% url 'movie_detail' movie_id=recommendation.id %}">
                            {% if recommendation.poster_path %}
                            <img src="https://image.tmdb.org/t/p/w154{{recommendation.poster_path}}" alt="{{recommendation.title}}" width=220>
                            {% else %}
                            <img src="/images/default.png" alt="{{result.name}}" width=220>
                            {% endif %}
                        </a>
                        <h6><a href="{% url 'movie_detail' movie_id=recommendation.id %}">{{ recommendation.title }}</a></h6>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

{% if videos %}
    <div class="carousel-container">
        <h5 class="list-title related">Related Videos</h5>
        <div class="related-video">
            {% for video in videos %}
                <div style="margin-left: 50px;">
                    <iframe width="250" height="250" src="http://www.youtube.com/embed/{{video.key}}" frameborder="0" allowfullscreen></iframe>
                </div>
            {% endfor %}
        </div>  
    </div>
{% endif %}

<div class="about-container">
    <div class="about-text">
        <h5 class="about-indent" style="color: #e6ba41; font-weight: bold;">About {{data.title}}</h5>

        {% if data.release_date %}
            <h6 class="about-indent"><span style="color: #777777;">Release Date:</span> {{ data.release_date }}</h6>
        {% endif %}

        {% if directors%}
            <h6 class="about-indent"><span style="color: #777777;">Director/s:</span>  
                {% for director in directors %}
                    <span><a href="{% url 'actor_link' actor_name=director %}">{{director}}</a></span>
                {% endfor %}
            </h6>
        {% endif %}

        {% if writers %}
        <h6 class="about-indent"><span style="color: #777777;">Writer/s:</span>  
            {% for writer in writers %}
                <span><a href="{% url 'actor_link' actor_name=writer %}">{{writer}}</a></span>
            {% endfor %}
        </h6>
        {% endif %}

        {% if actors %}
            <h6 class="about-indent"><span style="color: #777777;">Cast:</span>  
                {% for actor in actors %}
                    <span><a href="{% url 'actor_link' actor_name=actor %}">{{actor}},</a></span>
                {% endfor %}
            </h6>
        {% endif %}

        {% if data.genres %}
            <h6 class="about-indent"><span style="color: #777777;">Genre:</span>  
                    {% for genre in data.genres %}
                        <span>{{ genre.name }}</span>
                    {% endfor %}
            </h6>
        {% endif %}


        {% if reviews.results %}
            <h6 class="about-indent"><span style="color: #777777;">Critique Reviews:</span>  <a href="#">{{reviews.total_results}} Review/s</a></h6>
        {% endif %}
    </div>
</div>

{% endblock %}
