@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}

body {
    background-color: #e6ba41;
}

.container {
    color: #ffffff;
    background-color: #000000;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px 0;
}
 

/* Homepage */


.list-title {
    padding-top: 20px;
    color: #e6ba41;
    font-weight: bold;
    margin-left: 40px;
    font-family: 'Montserrat', sans-serif;
}

.list-title:hover {
    text-decoration: underline;
}

.carousel-container {
    position: relative;
    margin-top: -20px;
}

.carousel {
    height: 500px;
    perspective: 2000px;
}

.carousel .carousel-item {
    position: absolute;
    top: -60px;
    width: 250px;
}

/* .carousel .carousel-item.active::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 40px;
    display: inline-block;
    z-index: 2;
} */

/* .carousel .carousel-item.active:hover::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f004 \f00c \f044";
    font-weight: 400; 
    position: absolute;
    top: 30px;
    left: 40px;
    display: inline-block;
    font-size: 30px;
    text-rendering: auto;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
} */

/* .carousel-overlay::after {
    content: "";
    position: relative;
} */

.carousel-item .icon {
    visibility: hidden;
}

.carousel-item:hover .icon {
    visibility: visible;
}

a[data-remove-watchlist]::after {
    content: attr(data-remove-watchlist);
    position: absolute;
    top: -25px;
    left: -15px;
    background-color: #191919;
    padding: 10px;
    color: #e6ba41;
    border-radius: 5px;
    font-size: 15px;
    transform: scale(0);
    transition: transform ease-out 150ms;
}

a[data-remove-watchlist]:hover::after {
    transform: scale(1);
}

a[data-add-watchlist]::after {
    content: attr(data-add-watchlist);
    position: absolute;
    top: -25px;
    left: -15px;
    background-color: #191919;
    padding: 10px;
    color: #e6ba41;
    border-radius: 5px;
    font-size: 15px;
    transform: scale(0);
    transition: transform ease-out 150ms;
}

a[data-add-watchlist]:hover::after {
    transform: scale(1);
}

a[data-add-favorites]::after {
    content: attr(data-add-favorites);
    position: absolute;
    top: -25px;
    left: 47px;
    background-color: #191919;
    padding: 10px;
    color: #e6ba41;
    border-radius: 5px;
    font-size: 15px;
    transform: scale(0);
    transition: transform ease-out 150ms;
}

a[data-add-favorites]:hover::after {
    transform: scale(1);
}

a[data-remove-favorites]::after {
    content: attr(data-remove-favorites);
    position: absolute;
    top: -25px;
    left: 23px;
    background-color: #191919;
    padding: 10px;
    color: #e6ba41;
    border-radius: 5px;
    font-size: 15px;
    transform: scale(0);
    transition: transform ease-out 150ms;
}

a[data-remove-favorites]:hover::after {
    transform: scale(1);
}

a[data-post-review]::after {
    content: attr(data-post-review);
    position: absolute;
    top: -25px;
    left: 115px;
    background-color: #191919;
    padding: 10px;
    color: #e6ba41;
    border-radius: 5px;
    font-size: 15px;
    transform: scale(0);
    transition: transform ease-out 150ms;
}

a[data-post-review]:hover::after {
    transform: scale(1);
}

a[data-posted-review]::after {
    content: attr(data-posted-review);
    position: absolute;
    top: -25px;
    left: 80px;
    background-color: #191919;
    padding: 10px;
    color: #e6ba41;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 15px;
    transform: scale(0);
    transition: transform ease-out 150ms;
}

a[data-posted-review]:hover::after {
    transform: scale(1);
}

.carousel .carousel-item h6 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 10px 5px;
    text-align: center;
    width: 200px;
}

.fa-plus-square, .fa-check-square {
    position: absolute;
    top: 25px;
    left: 35px;
    color:#fff;
    font-size: 37px;
}

.fa-eye-slash, .fa-eye {
    position: absolute;
    top: 25px;
    left: 89px;
    color:#fff;
    font-size: 35px;
}

.fa-edit {
    position: absolute;
    top: 23px;
    left: 153px;
    color:#fff;
    font-size: 35px;
}

.fa-list-alt {
    position: absolute;
    top: 25px;
    left: 153px;
    color:#fff;
    font-size: 35px;
}


/* Navbar */

.nav-custom {
    background-color: #131313;
}

.logo-custom {
    position: relative;
    top: -6px;
    left: 90px;
}

.img-custom {
    width: 15%;
}

.page-custom {
    position: relative;
    right: 80px;
}

.navbar-image {
    position: relative;
    top: 10px;
    right: 155px;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    overflow: hidden;
}

.nav-logout {
    position: relative;
    top: -45px;
    right: 83px;
}

/* Search Bar */

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper .search_box {
    width: 600px;
    background: #fff;
    height: 40px;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    box-shadow: 0 8px 6px -10px #b3c6ff;
}

.wrapper .search_box .dropdown {
    width: 150px;
    border-right: 2px solid #dde2f1;
    color: #9fa3b1;
    position: relative;
    cursor: pointer;
}

.wrapper .search_box .dropdown .default_option {
    position: absolute;
    top: -21px;
    left: 45px;
    font-size: 16px;
    user-select: none;
}

.wrapper .search_box .dropdown ul {
    position: absolute;
    top: 50px;
    left: -10px;
    background: #fff;
    width: 150px;
    height: 130px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 8px 8px 6px -10px #b3c6ff;
    display: none;
}

.wrapper .search_box .dropdown ul.active {
    display: block;
}

.wrapper .search_box .dropdown ul li {
    padding-bottom: 20px;
    user-select: none;
}

.wrapper .search_box .dropdown ul li:last-child {
    padding-bottom: 0;
}

.wrapper .search_box .dropdown ul li:hover {
    color: #6f768d;
}

.wrapper .search_box .dropdown:before {
    content: "";
    position: absolute;
    top: 7px;
    right: 20px;
    border: 8px solid;
    border-color: #5078ef transparent transparent transparent;
}

.wrapper .search_box .search_field {
    width: 350px;
    height: 100%;
    position: relative;
} 

.wrapper .search_box .search_field .input {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 16px;
    padding-left: 40px;
    padding-right: 38px;
    color: #6f768d;
}

.wrapper .search_box .search_field .fas {
    position: absolute;
    top: -22px;
    right: -70px;
    font-size: 22px;
    color: #9fa3b1;
    cursor: pointer;
}

::placeholder {
    color: #9fa3b1;
}

.fabutton {
    background: none;
    padding: 0px;
    border: none;
}

.li-all {
    position: absolute;
    top: 0px;
    left: 58px;
    font-size: 16px;
}

.li-movies {
    position: absolute;
    top: 31px;
    left: 47px;
}

.li-actors {
    position: absolute;
    top: 65px;
    left: 49px;
}

/* Movie Detail Page */

.movie-title {
    color: #e6ba41;
    font-weight: bold;
    margin-left: 40px;
    font-family: 'Montserrat', sans-serif;
}

.rated {
    border: 1px solid #ffffff;
}

.poster-container {
    display: flex;
    margin-left: 80px;
    margin-top: 45px;
    width: 1132px;
    height: 523px;
}

.overview-container {
    position: relative;
    top: 0px;
    left: 77px;
    padding: 14px 42px;
    background-color: #191919;
    width: 1125px;
    font-family: Arial, Helvetica, sans-serif;
}

.summary {
    position: relative;
    line-height: 1.6;
    margin-top: 20px;
}

.cast {
   padding-top: 15px;
   color: #777777;
}

.cast a {
    color: #fff;
}

.cast a:hover {
    text-decoration: underline;
}

.ratings-container {
    margin-left: 96px;
    margin-top: 15px;
    font-size: 20px;
}

.rating-item {
    margin-left: 15px;
}

.rating-indent {
    margin-left: 3px;
}

.video-container {
    display: flex;
    flex-direction: column;
}

.seen-container {
    width: 200px;
    height: 60px;
    background-color: #191919;
    position: relative;
    top: 30px;
    left: 340px;
    font-size: 20px;
    border-radius: 10px;
}


.seen {
    position: absolute;
    top: 15px;
    left: 58px;
    
}

.watchlist-container {
    width: 230px;
    height: 60px;
    background-color: #191919;
    position: relative;
    top: -30px;
    left: 80px;
    font-size: 20px;
    border-radius: 10px;
}

.watchlist {
    position: absolute;
    top: 14px;
    left: 13px;
}

.mark-seen {
    position: absolute;
    top: 15px;
    left: 25px;
}

.about-container {
    position: relative;
    top: 10px;
    left: 65px;
    background-color: #191919;
    width: 1125px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.about-container a {
    color: #fff;
}

.about-title {
    color: #e6ba41;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.about-container a:hover {
    text-decoration: underline;
}

.about-text {
    padding: 10px 50px;
}

.related-video {
    display: flex;
    flex-wrap: wrap;
}

.more {
    position: relative;
    top: 30px;
}

.related {
    position: relative;
    top: -20px;
}

.about-indent {
    line-height: 1.5;
}

.review-container {
    width: 190px;
    height: 60px;
    background-color: #191919;
    position: relative;
    top: -90px;
    left: 570px;
    font-size: 20px;
    border-radius: 10px;
}

.review-text {
    position: absolute;
    top: 15px;
    left: 17px;
}

.trailer-container {
    margin-left: 60px;
    /* border: 5px solid #191919; */
}

/* Auth pages */

.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;
}

.closeBtn:hover,.closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.form-title {
	font-weight: bold;
	margin: 0;
}

.form-p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.form-button {
	border-radius: 20px;
	border: 1px solid #eeb926;
	background-color: #eeb926;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
    background-color: #df8d09;
}

button:focus {
	outline: none;
    background-color: #df8d09;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.form-control {
	background-color: #191919;
    color: #e6ba41;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.form-control input {
	background-color: #191919;
    color: #FFFFFF;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.form-control input:focus, .form-control input:active {
    color: #e6ba41;
    background-color: #191919;
}

.auth-container {
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
    margin: 150px auto;
	overflow: hidden;
    font-family: 'Montserrat', sans-serif;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.auth-container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.auth-container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.auth-container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #f3bd28;
	background: -webkit-linear-gradient(to right, #df8d09, #f3bd28);
	background: linear-gradient(to right, #df8d09, #f3bd28);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.auth-container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.auth-container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.auth-container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.auth-button {
    background-color: transparent;
}

.auth-button:hover {
    background-color: transparent;
}

.auth-button:active {
    background-color: transparent;
}

.auth-button:focus {
    background-color: transparent;
}

.login-custom {
    position: relative;
    top: 15px;
    right: 80px;
}

/* Profile Page */

.profile-container {
    position: relative;
    margin: 40px auto;
    padding: 35px;
    background-color: #191919;
    width: 90%;
    min-height: 300px;
}

.image-container {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
}

.profile-image {
    width: 100%;
    height: 100%;
}

.edit-link {
    font-size: 15px;
    font-style: italic;
}

.display-inline {
    display: inline-block;
}

.close-button {
    bottom: -10px;
    color: #039be5;
}

.profile-info {
    font-weight: bold;
    display: inline-block;
}

.prof-value {
    font-weight: normal;
    display: inline-block;
    margin-left: 10px;
}

.follow-link {
    font-weight: normal;
}

.follow-link:hover {
    text-decoration: underline;
}

.follow {
    position: relative;
    bottom: 3px;
    left: 13px;
    font-size: 25px;
}

.following-container {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
}

a[data-follow-user]::after {
    content: attr(data-follow-user);
    position: absolute;
    top: -55px;
    left: -15px;
    background-color: #252323;
    white-space: nowrap;
    padding: 10px;
    color: #e6ba41;
    border-radius: 5px;
    font-size: 15px;
    transform: scale(0);
    transition: transform ease-out 150ms;
}

a[data-follow-user]:hover::after {
    transform: scale(1);
}

a[data-unfollow-user]::after {
    content: attr(data-unfollow-user);
    position: absolute;
    top: -55px;
    left: -15px;
    background-color: #252323;
    white-space: nowrap;
    padding: 10px;
    color: #e6ba41;
    border-radius: 5px;
    font-size: 15px;
    transform: scale(0);
    transition: transform ease-out 150ms;
}

a[data-unfollow-user]:hover::after {
    transform: scale(1);
}

#photo-edit {
    position: absolute;
    bottom: 40px;
    left: 140px;
    color: #039be5;
}

#display-edit {
    position: absolute;
    bottom: 40px;
    left: 140px;
    color: #039be5;
}

#bio-edit {
    position: absolute;
    bottom: 40px;
    left: 140px;
    color: #039be5;
}

.edit-modal {
    color: white;
}

.photo-form label {
    display: none;
}

.bio-form label {
    display: block;
    margin-bottom: 10px;
}

.bio-form textarea {
    width: 400px;
    height: 300px;
    overflow: scroll;
    padding: 20px;
    color: white;
}

.edit-modal a {
    color: white;
}

.submit {
    border: none;
    width: 82px;
    height: 32px;
}

.cols {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    color: #e6ba41;
}

.photo-col {
    position: absolute;
    top: 45px;
    left: 80px;
}

.info-col {
    position: absolute;
    top: 45px;
    left: 400px;
}

.review-col {
    position: absolute;
    top: 50px;
    right: 180px;
}

.review-overlay::after {
    content: "";
    position: absolute;
    bottom: -130px;
    left: 0;
    height: 0%;
    width: 220px;
    background-color: #191919;
    overflow: scroll;
    visibility: hidden;
    color: #191919;
    padding: 30px;
    opacity: 0.2;
    transition: 
        height ease-out 0.75s,
        color ease-out 2s,
        opacity ease-out 2s;
}

.review-overlay:hover::after {
    content: attr(data-after-content);
    height: 90%;
    opacity: 0.9;
    color: #e6ba41;
    visibility: visible;
    
}

.review-date {
    font-size: 12px;
    font-style: italic;
}

/* Actor Detail Page */

.actor-details {
    margin-left: 40px;
    background-color: #191919;
    padding: 20px 40px;
    color: white;
}

.actor-label {
    color: #777777;
}

.actor-character {
    position: relative;
    top: -15px;
    left: 10px;
    color: #777777;
    font-size: 16px;
}

.bio-container .bio-content {
    position: relative;
    max-width: 700px;
    text-align: justify;
}

.short-bio {
    margin-bottom: 10px;
}

.more-bio {
    position: relative;
    padding: 5px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 5px;
    background: #111;
    color: #039be5;
}

.container#main-container.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

#main-container.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

#popup, #display, #bio, #follow-user, #unfollow-user {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    max-height: 650px;
    padding: 40px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background: rgb(245, 191, 91);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup.active, #display.active, #bio.active, #follow-user.active, #unfollow-user.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.bio-popup {
    max-height: 600px;
}

.bio-scroll {
    max-height: 500px;
    overflow: scroll;
    text-align: justify;
}

.close-bio {
    max-height: 100px;
    margin-bottom: 20px;
}

.dots {
    display: inline;
}

.dots.active {
    display: none;
}

/* textarea:focus, input:focus {
    color: #e6ba41;
}

textarea, input{
color: white;
}

textarea{
width: 400px;
height: 400px;
} */

/* User Reviews Page */

.user-reviews-container {
    height: 450px;
}

.cast-container {
    position: relative;
    top: 0px;
    left: 77px;
    padding: 40px 50px;
    background-color: #191919;
    width: 800px;
    height: 377px;
    font-family: Arial, Helvetica, sans-serif;
}

.user-reviews {
    margin-left: 80px;
    width: 1132px;
    min-height: 280px;
    padding: 50px;
    background-color: #191919;
    margin-bottom: 40px;
}