{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}

{% if watchlist %}
    <div class="carousel-container">
        <h5 class="list-title">Watch List</h5>
        <div class="carousel">
            <ul>
                {% for movie in watchlist %}
                    {% if movie.poster_url %}
                        <div class="carousel-item">
                            <a href="{% url 'movie_detail' movie_id=movie.tmdb_id %}">
                                {% if movie.poster_url%}
                                <img src="{{movie.poster_url}}" alt="{{movie.title}}" width=220>
                                {% else %}
                                <img src="/images/default.png" alt="{{result.name}}" width=220>
                                {% endif %}
                            </a>
                            <h6><a href="{% url 'movie_detail' movie_id=movie.tmdb_id %}">{{ movie.title }}</a></h6>
                        </div>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

{% if favorites %}
    <div class="carousel-container">
        <h5 class="list-title">Watch Again</h5>
        <div class="carousel">
            <ul>
                {% for favorite in favorites %}
                    {% if favorite.poster_url %}
                        <div class="carousel-item">
                            <a href="{% url 'movie_detail' movie_id=favorite.tmdb_id %}">
                                {% if favorite.poster_url %}
                                <img src="{{favorite.poster_url}}" alt="{{favorite.name}}" width=220>
                                {% else %}
                                <img src="/images/default.png" alt="{{result.name}}" width=220>
                                {% endif %}
                            </a>
                            <h6><a href="{% url 'movie_detail' movie_id=favorite.tmdb_id %}">{{ favorite.name }}</a></h6>
                        </div>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

{% if recommendations %}
    <div class="carousel-container">
        <h5 class="list-title">Because You Watched {{ fave_movie.name }}</h5>
        <div class="carousel">
            <ul>
                {% for recommendation in recommendations.results %}
                    <div class="carousel-item">
                        <a href="{% url 'movie_detail' movie_id=recommendation.id %}">
                            {% if recommendation.poster_path %}
                            <img src="https://image.tmdb.org/t/p/w154{{recommendation.poster_path}}" alt="{{recommendation.title}}" width=220>
                            {% else %}
                            <img src="/images/default.png" alt="{{result.name}}" width=220>
                            {% endif %}
                        </a>
                        <h6><a href="{% url 'movie_detail' movie_id=recommendation.id %}">{{ recommendation.title }}</a></h6>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

<div class="carousel-container">
    <h5 class="list-title">Popular</h5>
    <div class="carousel">
        <ul>
            {% for result in popular.results %}
                <div class="carousel-item">
                    <a href="{% url 'movie_detail' movie_id=result.id %}">
                        {% if result.poster_path %}
                        <img src="https://image.tmdb.org/t/p/w154{{result.poster_path}}" alt="{{result.title}}" width=220>
                        {% else %}
                        <img src="/images/default.png" alt="{{result.name}}" width=220>
                        {% endif %}
                    </a>
                    <h6><a href="{% url 'movie_detail' movie_id=result.id %}">{{ result.title }}</a></h6>
                    <!-- <a href="{% url 'add_favorites' movie_id=result.id %}"><i class="fas fa-plus"></i></a> -->
                </div>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="carousel-container">
    <h5 class="list-title">In Theaters</h5>
    <div class="carousel">
        <ul>
            {% for result in latest.results %}
                <div class="carousel-item">
                    <a href="{% url 'movie_detail' movie_id=result.id%}">
                        {% if result.poster_path%}
                        <img src="https://image.tmdb.org/t/p/w154{{result.poster_path}}" alt="{{result.title}}" width=220>
                        {% else %}
                    <img src="/images/default.png" alt="{{result.name}}" width=220>
                    {% endif %}
                    </a>
                    <h6><a href="{% url 'movie_detail' movie_id=result.id%}">{{ result.title }}</a></h6>
                </div>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="carousel-container">
    <h5 class="list-title">Top Rated</h5>
    <div class="carousel">
        <ul>
            {% for result in top.results %}
                <div class="carousel-item">
                    <a href="{% url 'movie_detail' movie_id=result.id %}">
                        {% if result.poster_path %}
                        <img src="https://image.tmdb.org/t/p/w154{{result.poster_path}}" alt="{{result.title}}" width=220>
                        {% else %}
                    <img src="/images/default.png" alt="{{result.name}}" width=220>
                    {% endif %}
                    </a>
                    <h6><a href="{% url 'movie_detail' movie_id=result.id %}">{{ result.title }}</a></h6>
                </div>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="carousel-container">
    <h5 class="list-title">Coming Soon To Theaters</h5>
    <div class="carousel">
        <ul>
            {% for result in upcoming.results %}
                <div class="carousel-item">
                    <a href="{% url 'movie_detail' movie_id=result.id %}">
                        {% if result.poster_path%}
                        <img src="https://image.tmdb.org/t/p/w154{{result.poster_path}}" alt="{{result.title}}" width=220>
                        {% else %}
                    <img src="/images/default.png" alt="{{result.name}}" width=220>
                    {% endif %}
                    </a>
                    <h6><a href="{% url 'movie_detail' movie_id=result.id %}">{{ result.title }}</a></h6>
                </div>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="carousel-container">
    <h5 class="list-title">Trending Actors</h5>
    <div class="carousel">
        <ul>
            {% for actor in actors %}
                <div class="carousel-item">
                    <a href="{% url 'actor_detail' actor_id=actor.id %}">
                        {% if actor.porfile_path%}
                        <img src="https://image.tmdb.org/t/p/w154{{actor.profile_path}}" alt="{{actor.name}}" width=220>
                        {% else %}
                    <img src="/images/default.png" alt="{{result.name}}" width=220>
                    {% endif %}
                    </a>
                    <h6><a href="{% url 'actor_detail' actor_id=actor.id %}">{{ actor.name }}</a></h6>
                </div>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}