{% load static %}

{% block navbar %}
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper nav-custom">
            <a href="{% url 'homepage' %}" class="brand-logo logo-custom">
                <img src="{% static 'images/logo.png' %}" alt="logo" class="img-custom">
            </a>
            <div class="wrapper">
                <div class="search_box">
                    <div class="dropdown">
                        <div class="default_option">All</div>
                        <ul>
                            <li id="all" class="li-all">All</li>
                            <li id="movies" class="li-movies">Movies</li>
                            <li id="actors" class="li-actors">Actors</li>
                        </ul>
                    </div>
                    {% block form %}
                        {% include 'search_form.html' %}
                    {% endblock %}
                </div>
            </div>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                    {% if request.user.profile_pic %}
                        <div class="navbar-image">
                            <a href="{% url 'profile' %}">
                                <img src ='{{request.user.profile_pic.url}}' class="profile-image" />
                            </a>
                        </div>
                    {% else %}
                        <li><a href="{% url 'profile' %}" class="page-custom">{{user.displayname}}</a></li>
                    {% endif %}
                    <li class="nav-logout"><a href="{% url 'logout' %}" class="page-custom">Log Out</a></li>
                {% else %}
                    <li id="loginButton" class="waves-effect waves-light btn modal-trigger auth-button login-custom">Sign In / Sign Up</li>
                    <!-- <li><a id="signupButton" class="waves-effect waves-light btn modal-trigger auth-button" href="#modal2">Sign Up</a></li> -->
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
{% include 'login.html' %}
{% include 'signup.html' %}
{% endblock %}
     


