{% extends 'base.html' %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}

<h4 class="movie-title">{{user.displayname}}</h4>

<div class="overview-container profile-container">
  {% if request.user.profile_pic %}
    <div class="image-container">
      <img src ='{{request.user.profile_pic.url}}' class="profile-image" />
    </div>
  {% endif %}
    <div>
        {% if user.bio %}
            <p>{{request.user.bio}}</p>
        {% endif %}
        {% if reviews.count > 0 %}
            <p>total reviews: {{reviews.count}}</p>
        {% else %}
            <p>Post your first review to get some karma points!</p>
        {% endif %}
        <p>karma: {{request.user.karma_score}}{{request.user.emoji}}</p>
        <!-- <span>Displayname: {{user.displayname}}
            <span>
                <form action="/edit-profile/" method="post">
                    {% csrf_token %}
                    <input type="text" name="displayname" placeholder="Displayname" />
                    <input type="submit">
                </form>
            </span> 
        </span>
        <span>Profile Photo: {{user.profile_pic}}
            <span>
                <form action="/edit-profile/" method="post">
                    {% csrf_token %}
                    <input type="file" name="profile_pic" placeholder="Profile Photo" />
                    <input type="text" name="displayname" value={{user.displayname}} placeholder="Displayname" />
                    <input type="submit">
                </form>
            </span>
        </span>
        <span>Bio: {{user.bio}}
            <span>
                <form action="/edit-profile/" method="post">
                    {% csrf_token %}
                    <textarea rows="20" cols="20" name="bio" placeholder="Bio" />
                    <input type="text" name="displayname" value={{user.displayname}} placeholder="Displayname" width=50 />
                    <input type="submit">
                </form>
            </span>
        </span> -->
    </div>
</div>

{% if reviews %}
    <div class="carousel-container">
        <h5 class="list-title">Reviews You Posted</h5>
        <div class="carousel">
            <ul>
                {% for review in reviews %}
                    <div class="carousel-item">
                        <a href=/movies/{{review.movie.tmdb_id}}>
                            <img src="{{review.movie.poster_url}}" alt="{{review.movie.name}}" width=220>
                        </a>
                        <h6><a href=/movies/{{review.movie.tmdb_id}}>{{review.movie.name}}</a></h6>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

{% if watch_list %}
    <div class="carousel-container">
        <h5 class="list-title">Watch List</h5>
        <div class="carousel">
            <ul>
                {% for movie in watch_list %}
                    {% if movie.poster_path %}
                        <div class="carousel-item">
                            <a href="{% url 'movie_detail' movie_id=movie.id %}">
                                <img src="https://image.tmdb.org/t/p/w154{{movie.poster_path}}" alt="{{movie.title}}" width=220>
                            </a>
                            <h6><a href="{% url 'movie_detail' movie_id=movie.id %}">{{ movie.title }}</a></h6>
                        </div>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

{% if seen_list %}
    <div class="carousel-container">
        <h5 class="list-title">Watch Again</h5>
        <div class="carousel">
            <ul>
                {% for movie in seen_list %}
                    {% if movie.poster_url %}
                        <div class="carousel-item">
                            <a href="{% url 'movie_detail' movie_id=movie.tmdb_id %}">
                                <img src="{{movie.poster_url}}" alt="{{movie.name}}" width=220>
                            </a>
                            <h6><a href="{% url 'movie_detail' movie_id=movie.tmdb_id %}">{{ movie.name }}</a></h6>
                        </div>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

{% if recomendations %}
    <div class="carousel-container">
        <h5 class="list-title">You May Like</h5>
        <div class="carousel">
            <ul>
                {% for recommendation in recomendations %}
                    <div class="carousel-item">
                        <a href="{% url 'movie_detail' movie_id=recommendation.id %}">
                            <img src="https://image.tmdb.org/t/p/w154{{recommendation.poster_path}}" alt="{{recommendation.title}}" width=220>
                        </a>
                        <h6><a href="{% url 'movie_detail' movie_id=recommendation.id %}">{{ recommendation.title }}</a></h6>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

{% endblock%}   