{% extends 'base.html' %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}

    <h4 class="movie-title">{{user.username}}'s Profile</h4>

    <div class="profile-container" id='about'>
        <div>
                {% if request.user.profile_pic %}
                <div class="image-container" style="display: inline-block">
                    <img class="profile-image" src ='{{user.profile_pic.url}}' />
                </div>
                {% endif %}
            <span class="edit-link"><a href="#" onclick="editPhoto()">edit</a></span>
            
            <br>
            <h5 style="display: inline-block">{{user.displayname}}</h5>
            <a href="#" onclick="editDisplayname()">edit</a>
            
            <br>
            <div style="display: inline-block">
                {% if user.bio %}
                    <h5>About Me: <span class="edit-link"><a href="#" onclick="editBio()">edit</a></span></h5>
                    <h6>{{request.user.bio}}</h6>
                {% endif %}
            </div> 
        </div>

        <div class="profile-right">
            {% if reviews.count > 0 %}
                <h6>Reviews Posted: {{reviews.count}}</h6>
            {% else %}
                <h6>Post your first review to get some karma points!</h6>
            {% endif %}
            <br>
            <h6>Karma: {{request.user.karma_score}} {{request.user.emoji}}</h6> 
        </div>
    </div>

    
    <div class="carousel-container">
    <h5 class="list-title">Watch List</h5>
    <div class="carousel">
        <ul>
            {% for movie in user.watch_list.all %}
                <div class="carousel-item">
                    <a href="{% url 'movie_detail' movie_id=movie.tmdb_id %}">
                        <img src="{{movie.poster_url}}" alt="{{movie.name}}" width=220>
                    </a>
                    <h6><a href="{% url 'movie_detail' movie_id=movie.tmdb_id %}">{{ movie.name }}</a></h6>
                </div>
            {% endfor %}
        </ul>
    </div>
    </div>

    <div class="carousel-container">
    <h5 class="list-title">You've Left {{reviews.count}} Review(s) so Far</h5>
    <div class="carousel">
        <ul>
            {% for review in reviews %}
                <div class="carousel-item">
                    <div class="card-body">
                    <a href=/movies/{{review.movie.tmdb_id}}/ ><img src="{{review.movie.poster_url}}" width="190" alt="..."></a>
                    <a href=/reviews/{{review.movie.tmdb_id}}/  class="btn btn-sm btn-black">
                    <h5 class="card-title">{{review.movie.name}}</h5>
                    <p class="card-text">{{review.text}}</p>
                    <p class="card-text"><small class="text-muted">{{review.creation_time}}</small></p>
                    </a>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>

    {% if watch_list %}
        <div class="carousel-container">
            <h5 class="list-title">Watch List</h5>
            <div class="carousel">
                <ul>
                    {% for movie in watch_list %}
                        {% if movie.poster_path %}
                            <div class="carousel-item">
                                <a href="{% url 'movie_detail' movie_id=movie.id %}">
                                    <img src="https://image.tmdb.org/t/p/w154{{movie.poster_path}}" alt="{{movie.title}}" width=220>
                                </a>
                                <h6><a href="{% url 'movie_detail' movie_id=movie.id %}">{{ movie.title }}</a></h6>
                            </div>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if seen_list %}
        <div class="carousel-container">
            <h5 class="list-title">Watch Again</h5>
            <div class="carousel">
                <ul>
                    {% for movie in seen_list %}
                        {% if movie.poster_url %}
                            <div class="carousel-item">
                                <a href="{% url 'movie_detail' movie_id=movie.tmdb_id %}">
                                    <img src="{{movie.poster_url}}" alt="{{movie.name}}" width=220>
                                </a>
                                <h6><a href="{% url 'movie_detail' movie_id=movie.tmdb_id %}">{{ movie.name }}</a></h6>
                            </div>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if recomendations %}
        <div class="carousel-container">
            <h5 class="list-title">You May Like</h5>
            <div class="carousel">
                <ul>
                    {% for recommendation in recomendations %}
                        <div class="carousel-item">
                            <a href="{% url 'movie_detail' movie_id=recommendation.id %}">
                                <img src="https://image.tmdb.org/t/p/w154{{recommendation.poster_path}}" alt="{{recommendation.title}}" width=220>
                            </a>
                            <h6><a href="{% url 'movie_detail' movie_id=recommendation.id %}">{{ recommendation.title }}</a></h6>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

{% endblock%}

{% block popup %}
    <div class="bio-scroll">
        <form action="" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            {{ pic_form.as_p }}
            <input type="submit" name='save_profile_pic'  value="Submit">
        </form> 
    </div>
{% endblock %}

{% block display %}
    <div class="bio-scroll">
        <form action="" method="post">
            {% csrf_token %}
            {{ displayname_form.as_p }}
            <input type="submit" name='save_displayname' value="Submit">
        </form>   
    </div>
{% endblock %}

{% block bio %}
    <div class="bio-scroll">
        <form action="" method="post">
            {% csrf_token %}
            {{ bio_form.as_p }}
            <input type="submit" name='save_bio' value="Submit">
        </form>
    </div>
{% endblock %}