{% extends 'base.html' %}
{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}
{% block content %}



    <div class="row">
      <div class="col s7 push-s5"><span class="flow-text">
      
      <div class="card black">
        <div class="card-content white-text">
        <div class='right-text'>
        <br/>
          <span class="card-title">Something On Your Mind?</span>
                    <br/>
          <p class='yellow-font'>Leave a Review</p>
          </div>
          <p class="card-text">{% include 'general_form.html'%}</p>
          <p class='yellow-font'> Earn Karma by </p>
           <p>Leaving Helpful Reviews 🥳</p>
        </div>
        <div class="card-action">
        </div>
      </div>
      </span></div>
      <div class="col s5 pull-s7"><span class="flow-text">
<h1 class='yellow-font'>{{movie.name}}</h1>
<img src="{{movie.poster_url}}" width= 100% class="img" alt="...">

      </span></div>
    </div>
         
  <br/>
 
 <div id='by-date' class='waves-effect waves-light btn-large hidden'> By Date</div>
<button id='by-vote' class='waves-effect waves-light btn-large'> By Vote</button>



<div class = 'scroll' id = 'date-list'>
{% for review in reviews_by_time %}
  <div class="card black"  id={{review.id}}>
        <div class="card-content white-text">
          {% if review.user.profile_pic %}
        <img width = 20% src={{review.user.profile_pic.url}}/>
        {% endif %}
          <span class="card-title yellow-font"><a href="{% url 'profile' user_id=review.user.id %}">{{review.user}}</a> {{review.user.emoji}}</span>
          <p>{{review.text}}</p>
          <div class='right-text'>
          <p class="card-text yellow-font">{{review.creation_time}}</p>
          {% if  review.vote_total > 0  %}
        <p>{{review.vote_total}} user's have found this helpful</p>
        {%else %}
        <p>no one has found this helpful</p>
        {% endif %}
        {% if request.user in review.likedby.all %}
        <p class="yellow-font">you've already voted on this post</p>
         
        {% else %}
        <a href='/vote/{{review.id}}/{{1}}/' class="waves-effect waves-light btn-large">helpful</a>
        <a href='/vote/{{review.id}}/{{0}}/' class="waves-effect waves-light btn-large">unhelpful</a>
        {% endif %}
        </div>
        </div>
            
        
        <div class="card-action">
      
        
        </div>
      </div>
    <!-- </div>
  </div> -->
{% endfor %}
</div>
<style>
  .mb-3 {
    color:black
  }
</style>
<div class = 'scroll hidden' id = 'vote-list'>
  {% for review in reviews_by_votes %}

      <div class="card black"  id={{review.id}}>
        <div class="card-content white-text">
        {% if review.user.profile_pic %}
        <img width = 20% src={{review.user.profile_pic.url}}/>
        {% endif %}
          <span class="card-title yellow-font"><a href="{% url 'profile' user_id=review.user.id %}">{{review.user}}</a> {{review.user.emoji}}</span>
          <p>{{review.text}}</p>
          <div class='right-text'>
          <p class="card-text yellow-font">{{review.creation_time}}</p>
          {% if  review.vote_total > 0  %}
        <p>{{review.vote_total}} user's have found this helpful</p>
        {%else %}
        <p>no one has found this helpful</p>
        {% endif %}
        {% if request.user in review.likedby.all %}
        <p class="yellow-font">you've already voted on this post</p>
         
        {% else %}
        <a href='/vote/{{review.id}}/{{1}}/' class="waves-effect waves-light btn-large">helpful</a>
        <a href='/vote/{{review.id}}/{{0}}/' class="waves-effect waves-light btn-large">unhelpful</a>
        {% endif %}
        </div>
        </div>
            
        
        <div class="card-action">
      
        
        </div>
      </div>
  {% endfor %}

  </div>

  
<style>
    .scroll {
    overflow: scroll;
    height: 700px;
    cursor: url(https://cdn.custom-cursor.com/db/4828/32/arrow2747.png), auto;
  }
  .hidden{
    display: none;
  }
  .form-control{
    background-color: black;
  }
  .right-text{
    text-align: right;
  }
  textarea{
    color: white;
    height: 200px;
  }
  .btn-large{
    background-color:#e6ba41; 
  }

  .btn-large:hover{
    background-color:white; 
    color:black;
  }
  .yellow-font{
    color: #e6ba41;
  }

</style>
<script>
  let dateButton = document.getElementById('by-date')
  let voteButton = document.getElementById('by-vote')
  let voteList = document.getElementById('vote-list')
  let dateList = document.getElementById('date-list')

  dateButton.onclick= () =>{
    dateList.classList.remove('hidden')
    voteButton.classList.remove('hidden')
    dateButton.classList.add('hidden')
    voteList.classList.add('hidden')
  }
  voteButton.onclick= () =>{
    dateList.classList.add('hidden')
    voteButton.classList.add('hidden')
    dateButton.classList.remove('hidden')
    voteList.classList.remove('hidden')
  }

</script>
{% endblock %}
