<div class="auth-container modal" id="modal2">
    <div class="form-container sign-in-container">
        <form action="/login/" method="post" class="form-control">
            {% csrf_token %}
            <h1 class="form-title">Sign In</h1>
            <input type="text" name="username" placeholder="Username" />
            <input type="password" name="password" placeholder="Password" />
            <button class="form-button">Sign In</button>
        </form>
    </div>
    <div class="form-container sign-up-container">
        <form action="/signup/" class="form-control">
            {% csrf_token %}
            <h1 class="form-title">Create Account</h1>
            <input type="text" name="name" placeholder="Name" />
            <input type="text" name="displayname" placeholder="Displayname" />
            <input type="password" name="password" placeholder="Password" />
            <button class="form-button">Sign Up</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1 class="form-title">Hello, Friend!</h1>
                <p class="form-p">Enter your personal details and start journey with us</p>
                <button class="ghost form-button" id="signUp">Sign Up</button>
            </div>
            <div class="overlay-panel overlay-left">
                <h1 class="form-title">Welcome Back!</h1>
                <p class="form-p">To keep connected with us please login with your personal info</p>
                <button class="ghost form-button" id="signIn">Sign In</button>
            </div>
        </div>
    </div>
</div>