{% extends 'base.html' %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}

<h4 class="movie-title">{{ actor.name}}</h4>


<div class="poster-container">
    <div>
        {% if actor.profile_path %}
        <img src="https://image.tmdb.org/t/p/w342{{ actor.profile_path }}">
        {% else %}
        <img src="/images/default.png" alt="{{result.name}}" width=220>
        {% endif %}
    </div>
    <div class="actor-details">
        <div class="bio-container">
            <div class="bio-content">
                <h6 class="summary short-bio">{{ short_bio }} <span id="bio-dots" class="dots">. . .</span></h6>
                <a href="#" onclick="toggle()" id="read-more" class="more-bio">See full bio >></a>
            </div>
        </div>
        <br>
        <h6 class="summary"><span class="actor-label">Date of birth:</span> {{ actor.birthday}}</h6>
        {% if actor.deathday %}
        <h6 class="summary"><span class="actor-label">Date of death:</span> {{ actor.deathday}}</h6>
        {% endif %}

        <h6 class="summary"><span class="actor-label">Born in:</span> {{ actor.place_of_birth}}</h6>
    </div>
</div>



<div class="carousel-container">
    <h5 class="list-title">Known For</h5>
    <div class="carousel">
        <ul>
            {% for movie in movies %}
                <div class="carousel-item">
                    <a href="{% url 'movie_detail' movie_id=movie.id%}">
                        <img src="https://image.tmdb.org/t/p/w154{{movie.poster_path}}" alt="{{movie.title}}" width=220>
                    </a>
                    <h6><a href="{% url 'movie_detail' movie_id=movie.id%}">{{ movie.title }}</a></h6>
                    <h6 class="actor-character">{{ movie.character }}</a></h6>
                </div>
            {% endfor %}
        </ul>
    </div>
</div>

{% if images %}
    <div class="carousel-container">
        <h5 class="list-title">{{ actor.name}} Through the Years</h5>
        <div class="carousel">
            <ul>
                {% for image in images %}
                    <div class="carousel-item">
                            <img src="https://image.tmdb.org/t/p/w154{{image.file_path}}" width=220>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

{% endblock %}

{% block popup %}
    <div class="bio-scroll">
        <h6 style="line-height: 1.6;">{{ actor.biography }}</h6>
    </div>
    <div class="close-bio">
        <a href="#" onclick="toggle()" id="read-more" class="more-bio close-button">Close</a>
    </div>
{% endblock %}